<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <style>
      .bold{ font-weight: bold;  }
      .right{ text-align: right; }
      .red{ color: red; }
      .hr_half{ width: 50% ; }
    </style>
  </head>

  <body>
    <div>
      Dear all,
      <p>
      Please note record in subject has been created in FMS. Below are details:
      </p>
      <hr/>
    </div>

    <div>
      <table>
        <tr><td class="right"> MRN no.:</td><td class='bold'> {{mawb}} </td></tr>
        <tr><td class="right"> Incoterms:</td><td class='bold'> {{freightTerms}}</td></tr>
        <tr><td class="right"> Pieces:</td><td class='bold'> {{pieces}}</td></tr>
        <tr><td class="right"> Gross weight:</td><td class='bold'> {{gross}} kg</td></tr>
        <tr><td class="right"> Commodity:</td><td class='bold'> {{commodity}}</td></tr>
      </table>

      <hr/>


    </div>


<div>
  <p>
    Best regards,</br>
    Maurice Ward team
  </p>
</div>

  </body>
</html>
